<form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="d-grid">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Username</label>
    <input
      formControlName="username"
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="usuario"
    />
    <span class="form-text text-danger" *ngIf="isValidField('username')"
      >Invalid Username</span
    >
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input
      formControlName="password"
      type="password"
      class="form-control"
      id="exampleInputPassword1"
    />

    <span class="form-text text-danger mb-2" *ngIf="isValidField('password')"
      >Wrong password</span
    >
  </div>
  <re-captcha
    (resolved)="resolved($event)"
    errorMode="handled"
    [siteKey]="siteKey"
    [formControlName]="'recaptcha'"
  ></re-captcha>
  <span class="text-danger form-text" *ngIf="isValidField('recaptcha')">
    Click the captcha pls
  </span>
  <button type="submit" class="btn btn-primary mt-3">Log in</button>
</form>
