<header class="p-3 bg-dark text-white mb-5">
  <div class="container w-100">
    <div class="d-flex flex-wrap align-items-center justify-content-between">
      <img
        src="../../../../assets/vicanjo-high-resolution-logo-color-on-transparent-background.png"
        style="width: 4rem"
      />
      <div class="text-end">
        <button
          type="button"
          (click)="redirect('login')"
          class="btn btn-outline-light me-2"
        >
          Login
        </button>
        <button
          type="button"
          (click)="redirect('register')"
          class="btn btn-primary"
        >
          Sign-up
        </button>
      </div>
    </div>
  </div>
</header>
<div class="grid row justify-content-center align-items-center vw-100">
  <div class="col-auto">
    <router-outlet></router-outlet>
  </div>
</div>
